<div id="card-container">

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Bank Account</mat-card-title>
            <mat-card-subtitle>Manager</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets\images\bank-account.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
            <button mat-button (click)="openAddBankAccountDialog()">ADD</button>
            <button mat-button (click)="openUpdateBankAccountDialog()">UPDATE</button>
            <button mat-button (click)="openRemoveBankAccountDialog()">REMOVE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="transaction-header-image"></div>
            <mat-card-title>Transaction</mat-card-title>
            <mat-card-subtitle>Manager</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets\images\transaction.png" alt="Photo of a Shiba Inu">
        <mat-card-actions>
            <button mat-button (click)="openAddTransactionDialog()">ADD</button>
            <button mat-button (click)="openUpdateTransactionDialog()">UPDATE</button>
            <button mat-button (click)="openRemoveTransactionDialog()">REMOVE</button>
        </mat-card-actions>
    </mat-card>

</div>