<button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon" id="add-button"
    (click)="addBudgetToUserDialog()">
    <mat-icon>add</mat-icon>
</button>
<div class="card-container">
    <mat-card class="example-card" *ngFor="let budget of budgets">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ budget.name }}</mat-card-title>
            <mat-card-subtitle>{{budget.amount}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="\assets\images\Budget-PNG-Pic.png" alt="Budget">
        <mat-card-content>
            <button mat-fab extended color="primary" class="ex-button"
                (click)="openExpenseCategoriesDialog(budget.expenseCategories)">
                <mat-icon>zoom_out_map</mat-icon>
                EC: {{ budget.expenseCategories.length }}
            </button>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab extended color="warn" id="button-left" (click)="openRemoveBudgetDialog(budget.id)">
                <mat-icon>delete</mat-icon>
                Delete
            </button>
            <button mat-fab extended color="green" id="button-right" (click)="openUpdateBudgetDialog(budget)">
                <mat-icon>update</mat-icon>
                Update
            </button>
        </mat-card-actions>
    </mat-card>
</div>