<form [formGroup]="form">
    <h2 mat-dialog-title>Update Bank Account</h2>
    <h3 mat-dialog-title>Complete the fields you want to update!</h3>
    <mat-dialog-content class="mat-typography">
        <div class="example-container">
            <mat-form-field>
                <mat-label>Enter Bank Name</mat-label>
                <input matInput placeholder="Bank Name" formControlName="bankAccountName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Account Type</mat-label>
                <mat-select formControlName="accountType">
                    <mat-option value="CHECKING_ACCOUNT">Checking</mat-option>
                    <mat-option value="SAVINGS_ACCOUNT">Savings</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Currency</mat-label>
                <mat-select formControlName="accountCurrency">
                    <mat-option value="RON">RON</mat-option>
                    <mat-option value="USD">USD</mat-option>
                    <mat-option value="EUR">EUR</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>CANCEL</button>
        <button mat-button cdkFocusInitial (click)="updateBankAccount()" [mat-dialog-close]="true">SUBMIT</button>
    </mat-dialog-actions>
</form>