<h2 mat-dialog-title>Select Account</h2>
<mat-dialog-content class="mat-typography">

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Bank Account
                </mat-panel-title>
                <mat-panel-description>
                    RO116
                    <mat-icon>account_balance_wallet</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            SOME CONTENT
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Bank Account
                </mat-panel-title>
                <mat-panel-description>
                    RO118
                    <mat-icon>account_balance_wallet</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            SOME CONTENT
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Bank Account
                </mat-panel-title>
                <mat-panel-description>
                    RO117
                    <mat-icon>account_balance_wallet</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            SOME CONTENT
        </mat-expansion-panel>
    </mat-accordion>

</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->