.container {
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 10px;
    max-width: none;
}

nav {
    height: 10vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}