.example-tab-icon {
    margin-right: 8px;
}

mat-tab-group {
    width: 80vw;
    height: 80vh;
}

div {
    margin: 10px;
}

.example-action-buttons {
    padding: 20px;
}


.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.crud-buttons {
    display: flex;
    margin: 10px;
}

.crud-buttons-left {
    margin-right: auto;
}

.crud-buttons-right {
    margin-left: auto;
}