<h2 mat-dialog-title>Select Account</h2>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let bankAccount of bankAccounts">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ bankAccount.accountNumber }}
            </mat-panel-title>
            <mat-panel-description>
                {{ bankAccount.balance | currency: bankAccount.currency }}
                <mat-icon>account_balance_wallet</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        SOME CONTENT
    </mat-expansion-panel>
</mat-accordion>